<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525037677338-eboj8fkha91brh139n532qa6hur1b17c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525037677338-eboj8fkha91brh139n532qa6hur1b17c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>525037677338-srbm16ai13bk55d9rnuh5bec1e3318qc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWouMsxNjoZrig7JgtTWl7a2-RsCOLK8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>525037677338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniProject</string>
	<key>PROJECT_ID</key>
	<string>katering-order-app</string>
	<key>STORAGE_BUCKET</key>
	<string>katering-order-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525037677338:ios:3cfe231d8914908112daa3</string>
</dict>
</plist>